<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="session">
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cerest?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.formar_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    //Pool de conexão
    <property name="c3p0.min_size">1</property>
    <property name="c3p0.max_size">20</property>
    <property name="c3p0.timeout">300</property>
    <property name="c3p0.max_statements">80</property>
    <property name="c3p0.idle_test_period">300</property>
    
    <mapping class="com.cerest.entity.Cidade"/>
    <mapping class="com.cerest.entity.Endereco"/>
    <mapping class="com.cerest.entity.Estado"/>
    <mapping class="com.cerest.entity.Pessoa"/>
    <mapping class="com.cerest.entity.Sexo"/>
    <mapping class="com.cerest.entity.TipoEndereco"/>
    <mapping class="com.cerest.entity.TipoLogradouro"/>
  </session-factory>
</hibernate-configuration>
